form fieldset {
  .vote-submit {
    margin-left: 15px;
  }
}

.post-title {
  line-height: 1.6;
}

.post-meta {
  color: #757575;
}

.post-content {
  line-height: 2.0;

  img {
    max-width: 90%;
  }
}

.post-vote {
  background: #fafafa;
  padding: 20px;

  .vote-row {
    height: 32px;
  }

  .progress {
    height: 20px;
    font-size: 12px;
  }
}

.post-title {
  display: inline-block;
}

.post-noti-button {
  margin: 8px;
  border: none;
  background: transparent; /* Change it to transparent */
  cursor: pointer;
}

.post-noti-button:focus {
  outline: none;
}

.far.fa-bell.post {
  width: 20px;
}