form fieldset {
  .vote-submit {
    margin-left: 15px;
  }
}

.content-left {
  padding-left: 0!important;
}

.content-right {
  border-left: 1px solid rgba(0,0,0,0.7)!important;
}

.author-info {
  margin: 10px 0;
}

.post-title {
  line-height: 1.6;
}

.post-content {
  img {
    max-width: 90%;
  }
}

.progress {
  background: #B0B0B0;
}

.voted {
  color: #28a745;
}
