form fieldset {
  .vote-submit {
    margin-left: 15px;
  }
}

.post-title {
  line-height: 1.6;
}

.post-meta {
  color: #757575;
}

.post-content {
  line-height: 2.0;

  img {
    max-width: 90%;
  }
}

.progress {
  background: #B0B0B0;
}

.voted {
  color: #28a745;
}
