.admin-project-form-title {
  margin-bottom: 25px;
}

.admin-project-form-input {
  padding: 6px 12px;
  background: #fff;
  width: 350px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  font-size: 16px;
}

.admin-project-form-input-not-full {
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  font-size: 14px;
}

.admin-project-form-block {
  margin-bottom: 10px;

  h5 {
    margin-bottom: 10px;
  }

  h5.no-margin {
    margin-bottom: 0;
  }

  .admin-project-form-checkbox {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    vertical-align: bottom;
  }
}

.admin-project-form-button-container {
  button {
    margin: 10px 10px;
  }
}
