.post-menu {
  margin-top: 7px;
  button {
    margin-left: 5px;
  }
  button.last {
    margin-left: 0px;
  }
}

@media (min-width: 768px) {
  .board-title {
    margin-bottom: 15px;
  }
}

.icon-noti {
  width: 1.5rem;
  height: 1.5rem;
}

.noti-button {
  margin: 8px;
  border: none;
  background: transparent; /* Change it to transparent */
  cursor: pointer;
}

.noti-button:focus {
  outline: none;
}

.far.fa-bell {
  width: 20px;
}