.board-content {
  padding: 25px;

  table {
    table-layout: auto;
    a { color: rgb(33, 37, 41); }
    th { min-width: 90px; }
  }
}

@media (max-width: 767px) {
  .board-list { margin-bottom: 20px; }
}