.project-list-container {
  text-align: center;
  
  a {
    color: black;
  }

  a:link, a:visited {
    text-decoration: none !important;
  }

  a:hover {
    text-decoration: underline !important;
    color: #505050;
  }
}

.project-list-item {
  height: 290px;
  display: inline-flex;
  margin: 10px;
  p { margin: 0; }

  @media(max-width: 369px) {
    width: 270px;
  }

  @media(min-width: 370px) {
    width: 320px;
  }
}

.project-list-item-title {
  margin: 0 0 10px 0;
  display: block;
  strong { font-size: 18px; }
}

.project-list-item-content {
  text-align: left;
  margin-top: 20px;
  margin-left: 20px;
}

.project-list-time-img {
  //object-fit: cover;
  height: 120px;
}

.card-body {
  height: 180px;
  text-align: center;
}
