.comment-body {
  padding: 0!important;
  .comment-date {
    color: #6c757d;
    font-size: 12px;
  }
}

.comments {
  padding-bottom: 7px;
}

.btn.delete-comment {
  font-size: 0.9rem!important;
  padding: 0.2rem 0.4rem;
}
