.comments {
  padding-top: 4px;
  padding-bottom: 4px;

  .comment-body {
    padding: 0 !important;
    .comment-date {
      color: #6c757d;
      font-size: 12px;
    }
  }

  .btn.delete-comment {
    padding: 0.2rem 0.4rem;
  }
}
