.admin-project-list-head {
  margin-bottom: 20px;
}

.admin-project-list-name {
  display: inline-block;
}

.admin-project-list-new {
  margin-left: 20px;
  margin-bottom: .5rem;

  a {
    color: #FFFFFF;
  }

  a:hover {
    text-decoration: none;
  }
}

.admin-project-table {
  text-align: center;
}

@media (max-width: 575px) {
  .admin-project-table {
    font-size: 12px;
  }
}

.admin-project-add-button {
  float: right;
  margin-right: 20px;
}
