.project-item-thumbnail {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-top: -40px;
  max-height: 400px;
  margin-bottom: 50px;
  object-fit: cover;
}

.project-item-container {
  text-align: center;
}

.project-item-content {
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

.project-item-title {
  display: inline-block;
  margin-right: 10px;
}

.project-item-participants {
  font-size: 18px;
  margin-top: 8px;
}

.project-item-duration {
  font-size: 16px;
}

@media(max-width: 400px) {
  .project-item-genre {
    display: block;
  }
}