.upload-success-wrapper {
  margin: 30px auto 0;
  width: 800px;
}

.upload-success-detail {
  margin-top: 20px;
  font-size: 18px;

  textarea {
    margin: 10px 0;
    width: 100%;
    padding: 10px;
    height: 160px;
    background: #E0E0E0;
    letter-spacing: 2px;
  }
}
