.upload-success-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;

  .upload-success-title { margin-bottom: 20px; }

  .upload-success-description {
    background-color: #f0f0f0;
    padding: 15px;
    margin-bottom: 20px;
  }
}


// .upload-success-wrapper {
//   margin: 30px auto 0;
//   width: 800px;
// }

// .upload-success-detail {
//   margin-top: 20px;
//   font-size: 18px;

//   textarea {
//     margin: 10px 0;
//     width: 100%;
//     padding: 10px;
//     height: 160px;
//     background: #E0E0E0;
//     letter-spacing: 2px;
//   }
// }
