.post-list-head {
  margin-bottom: 20px;
}

.post-list-name {
  display: inline-block;
}

.post-list-new {
  float: right;
  margin-left: 20px;
  margin-bottom: .5rem;

  a {
    color: #FFFFFF;
  }

  a:hover {
    text-decoration: none;
  }
}

.post-list-noti-button {
  margin: 8px;
  border: none;
  background: transparent; /* Change it to transparent */
  cursor: pointer;
  max-width: fit-content;
}

.post-list-noti-button:focus {
  outline: none;
}

.far.fa-bell.post-list {
  width: 20px;
}

.post-list-row:hover {
  background: #fafafa;
}

.post-pager button {
  margin-left: 2px;
  margin-right: 2px;
}
