.post-list-head {
  margin-bottom: 20px;
}

.post-list-name {
  display: inline-block;
}

.post-list-new {
  float: right;
  margin-left: 20px;
  margin-bottom: .5rem;

  a {
    color: #FFFFFF;
  }

  a:hover {
    text-decoration: none;
  }
}
