.home {
  text-align: center;
  line-height: 1.8;
  h1 { font-size: 300%; }
  h2 { font-size: 240%; }

  .home-images {
    height: 500px;
    width: 100vw;
    margin-top: -20px;
    margin-left: calc(-50vw + 50%);
    font-size: 120%;
    color: #ffffff;

    .home-images-layer { 
      height: 100%;
      width: 100%;
      position: absolute; 
      text-align: center;

      &.text-layer { 
        padding-top: 120px;
        p { margin-top: 20px; }
        button { 
          margin-top: 20px; 
          &:not(:first-of-type) { margin-left: 10px; }
        }
      }
    }
    
    img {
      height: 500px;
      width: 100vw;
      filter: brightness(30%);
      object-fit: cover;
    }
  }

  .home-introduce {
    padding-top: 40px;
    padding-bottom: 40px;

    .home-introduce-item {
      padding-top: 20px;
      padding-bottom: 20px;

      i {
        font-size: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }
}
