.footer-container {
  background-color: #fafafa;
  border-top: 1px solid #e0e0e0;
  font-size: 14px;

  footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px 0;
  }
  
  .footer-content {
    height: 100%;
  }
  
  .footer-brief {
    h4 {
      margin-bottom: 15px;
    }

    i {
      text-align: center;
      width: 24px;
    }

    margin-top: 10px;
    line-height: 2;
  }
  
  .footer-detail {
    margin-top: 10px;
  }
}
