.post-form-title {
  margin-bottom: 25px;
}

.post-form-input {
  padding: 6px 12px;
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  font-size: 14px;

  &.post-form-input-small {
    /* type=number인 경우 생기는 화살표 없앰 */
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    margin-left: 15px;
    margin-right: 5px;
    width: 70px;
  }

  &.post-form-input-title {
    font-size: 18px;
  }
}

.post-form-input-not-full {
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-sizing: border-box;
  font-size: 14px;
}

.post-form-button-container {
  float: right;
  button { margin: 0 2px; }
}

.post-form-vote-options-container {
  margin-top: 15px;
  ul { margin-top: 10px; }
}

.post-form-vote-container {
  h3 {
    margin-bottom: 15px;
  }

  ul > li {
    margin-top: 5px;
  }
}

.inline-block {
  display: inline-block;
}
