@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);

* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

html, body, div#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  position: relative;
  height: 100%;
}

.app-content-container {
  width: 100%;
  // subtract footer, header height
  min-height: calc(100vh - 200px - 63px);
  padding: 20px 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .app-content-container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .app-content-container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .app-content-container {
    width: 960px;
    // subtract footer, header height
    min-height: calc(100vh - 200px - 63px);
  }
}

@media (min-width: 1200px) {
  .app-content-container {
    width: 1140px;
  }
}

@media (min-width: 1500px) {
  .app-content-container {
    width: 1440px;
  }
}
