.authentication-container {
  width: 370px;
  max-width: 90%;
  margin: 50px auto 0;
}

.authentication-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.authentication-input-title {
  font-size: 18px;
}

.authentication-input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid lightgrey;
  width: 100%;
  margin-bottom: 10px;
}

.authentication-input:disabled {
  font-weight: bold;
}

.authentication-button {
  margin-top: 20px;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #C0C0C0;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
  color: #C0C0C0;
  opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #C0C0C0;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #C0C0C0;
}