.authentication-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.authentication-title {
  font-weight: bold;
  margin-bottom: 20px;
}

::-webkit-input-placeholder {
  color: #C0C0C0;
  opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
  color: #C0C0C0;
  opacity: 1 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #C0C0C0;
  opacity: 1 !important;
}

:-ms-input-placeholder {
  color: #C0C0C0;
}