nav.header {
  a {
    &:link, &:visited, &:hover {
      color: black; text-decoration: none;
    }
  }

  .logo {
    font-weight: bold;
  }

  border-bottom: 2px solid lightgrey;
  font-size: 20px;
}

@media screen and (max-width: 992px) {
  .nav-underline {
  }
}
