.admin-member-list-head {
  margin-bottom: 20px;
}

.admin-member-list-name {
  display: inline-block;
}

.admin-member-list-new {
  margin-left: 20px;
  margin-bottom: .5rem;

  a {
    color: #FFFFFF;
  }

  a:hover {
    text-decoration: none;
  }
}

.admin-member-table {
  text-align: center;

  .delete-icon {
    color: red;
  }
}

@media (max-width: 575px) {
  .admin-member-table {
    font-size: 12px;
  }
}

.admin-member-add-button {
  float: right;
  margin-right: 20px;
}
